<%- include('./header.ejs') %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>

<div style="padding: 2rem; margin-top: 1rem;">
    <h2 style="margin-bottom: 2rem;">My Products</h2>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

    <table id="myTable">
    <tr class="header">
        <th>ID</th>
        <th>Product Name</th>
        <th>Brand</th>
        <th>Estimated SP</th>
        <th>Place Tag</th>
        <th>Action</th>
    </tr>
    <% for(var i=0; i < productDetails.length; i++) { %>
    <tr>
        <td><%= productDetails[i].productId %></td>
        <td><%= productDetails[i].productName %></td>
        <td><%= productDetails[i].brand %></td>
        <td><strong><p style="color: red; margin: 0; padding: 0;"><%= productDetails[i].estimatedSP %></p></strong></td>
        <td><strong class="text-success"><%= productDetails[i].placeTag %></strong></td>
        <td><a href="/product/find/<%= productDetails[i]._id %>" class="btn btn-primary">View Details</a></td>
    </tr>
    <% } %>
    </table>
</div>

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

<%- include('./footer.ejs') %>