<%- include('./header.ejs') %>
<style>
    body{
    background-color: #edf1f5;
    margin-top:20px;
}
.card {
    margin-bottom: 30px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}
.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}
.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f8fa!important
}
.table-product td{
    border-top: 0px solid #dee2e6 !important;
    color: #728299!important;
}
</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"><%= docs.productName %></h3>
            <h6 class="card-subtitle">Product Id: <%= docs.productId %></h6>
            <div class="row">
                <!-- <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img src="https://via.placeholder.com/430x600/00CED1/000000" class="img-responsive"></div>
                </div> -->
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <div style="margin-top: 0.5rem;">
                        <a href="/product/edit/<%= docs._id %>">
                            <button class="btn btn-info btn-rounded">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </a>
                        <!-- <a href="/product/delete/<%= docs._id %>"> -->
                            <a href="#">
                            <button class="btn btn-danger btn-rounded">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </div>
                    <h4 class="box-title mt-5">Place tag: <%= docs.placeTag %></h4>
                    <h2 class="mt-5">
                        <strong>MRP:</strong> <%= docs.MRP %>/<%= docs.perQuantity %><small class="text-danger">  (<%= discount %>% off)</small>
                        <br>
                        <br>
                        <strong>SP:</strong><strong class="text-success"> <%= docs.estimatedSP %>/<%= docs.perQuantity %></strong>
                    </h2>
                    <button class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title="" data-original-title="Add to cart">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                    <button class="btn btn-primary btn-rounded">Buy Now</button>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3 class="box-title mt-5">General Info</h3>
                    <div class="table-responsive">
                        <table class="table table-striped table-product">
                            <tbody>
                                <tr>
                                    <td width="390">Product Id</td>
                                    <td><%= docs.productId %></td>
                                </tr>
                                <tr>
                                    <td>Product Name</td>
                                    <td><%= docs.productName %></td>
                                </tr>
                                <tr>
                                    <td>Place Tag</td>
                                    <td><%= docs.placeTag %></td>
                                </tr>
                                <tr>
                                    <td><p style="color: red; margin: 0; padding: 0;">Estimated SP</p></td>
                                    <td><%= docs.estimatedSP %></td>
                                </tr>
                                <tr>
                                    <td>MRP</td>
                                    <td><%= docs.MRP %></td>
                                </tr>
                                <tr>
                                    <td>per quantity?</td>
                                    <td><%= docs.perQuantity %></td>
                                </tr>
                                <tr>
                                    <td>Brand</td>
                                    <td><%= docs.brand %></td>
                                </tr>
                                <tr>
                                    <td>Number of Items available</td>
                                    <td><%= docs.productCount %></td>
                                </tr>
                                <tr>
                                    <td>Cost Price</td>
                                    <td><%= docs.costPrice %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./footer.ejs') %>